.form {
  &__wrapper {
  display: flex;
  flex-direction: column;
  }

  &__label {
    margin-bottom: px-to-rem(8px);
    @include text-style($font-size-small, $font-weight-bold);
  }

  #email {
    display: block;
    width: 93%;
    margin: px-to-rem(8px) 0 px-to-rem(24px);
    padding: px-to-rem(16px) 0 px-to-rem(16px) px-to-rem(24px);
    border-radius: 8px;
    border: 1px solid $grecy;

    &:hover {
      border: 1px solid $dark-slate-grey;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid $dark-slate-grey;
    }
  }

  &__error {
    margin-left: 48%;
    @include text-style($font-size-small, $font-weight-bold, $base-font-famaly, $color-tomato);
  }
}