//COLORS
$color-tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-rey: hsl(235, 18%, 26%);
$grecy: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$gradient: linear-gradient(#ff6a3a, #ff527b);


// SHADOW 

$shadow: 0 16px 32px 0 rgba(255, 97, 85, 0.5);

// SIZES
$base-size: 16px;